<a href="https://colab.research.google.com/github/klajosw/python/blob/master/kl_py_PandasMerge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="left"> 
    <img src="https://raw.githubusercontent.com/klajosw/python/master/kl_mie_python_logo_250.jpg" 
         align="left" width="251" height="251">
    
</p>


<p> </p>



# Python alapok 


## Pandas Merge / JOIN és szűrések mita

Leírás: <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html/>

<https://klajosw.blogspot.com/>


---

In [0]:
# Import
import pandas as pd

In [0]:
## Állománypk megnyítása
user_1 = pd.read_csv("ugyfelcsv1.csv")
user_2 = pd.read_csv("ugyfelcsv2.csv")

In [0]:
# user_1.head()  # csak első négy sor megjelenítése
user_1

   ugyfel_id       vnev       knev     szdatum nem
0          1     Walter  Gwendolyn  1954-07-10   M
1          2  Armstrong     Kieran  1932-02-24   M
2          3      Kline      Silas  1938-07-16   M
3          4  Gallagher      Rhoda  1972-10-28   M
4          5  Gallagher      Robin  1940-02-02   M
5          6      Frank      Blair  1977-12-19   M
6          7       Cash    Vaughan  1989-04-06   M
7          8    Shields   Charissa  1926-03-25   F
8          9      Brown       Inga  1942-04-18   F
9         10   Crawford     Glenna  1969-05-14   F

In [0]:
# user_dada.rename(columns={"ugyfel_id": "ID"}, inplace=True)  ## fejléc átnevezése, ha szükséges lenne
# user_2.head()  ## csak elsőnégy sor 
user_2

   ugyfel_id igazolvanytipus_id igazolvanyszam
0          3                  J       YLHVLF29
1          4                  J       SIDNEE06
2          5                 SZ       DUSUNF64
3          6                 UL       ENBNYK36
4          7                 UL       PFOTXW50
5          8                  J       MMRDLZ25
6          9                 SZ       SKCMWG34
7         10                 UL       VUKMBG65
8         11                 SZ       NCGJMG03
9         12                 SZ       LZQSRL48

---

## Két forrás tartalmának összekapcsolása 1.

Kapcsolás az `ugyfel_id` kulcs mező szerint történik

---

In [0]:
result = pd.merge(user_1,
                 user_2[['ugyfel_id', 'igazolvanyszam']], ## hozzáfűzési mezők, az első a kulcs mező
                 on='ugyfel_id',                          ## kulcs mező a kapcsoláshoz (azonos nevüek legyenek)
                 how='left',                              ## Kapcsolat módja (left, right, outer, inner)
                 indicator=True                           ## jelző újmezőben megjelenítése                   
                 )
result.head(10)

   ugyfel_id       vnev       knev     szdatum nem igazolvanyszam     _merge
0          1     Walter  Gwendolyn  1954-07-10   M            NaN  left_only
1          2  Armstrong     Kieran  1932-02-24   M            NaN  left_only
2          3      Kline      Silas  1938-07-16   M       YLHVLF29       both
3          4  Gallagher      Rhoda  1972-10-28   M       SIDNEE06       both
4          5  Gallagher      Robin  1940-02-02   M       DUSUNF64       both
5          6      Frank      Blair  1977-12-19   M       ENBNYK36       both
6          7       Cash    Vaughan  1989-04-06   M       PFOTXW50       both
7          8    Shields   Charissa  1926-03-25   F       MMRDLZ25       both
8          9      Brown       Inga  1942-04-18   F       SKCMWG34       both
9         10   Crawford     Glenna  1969-05-14   F       VUKMBG65       both

Nézzük egy érték vizsgálatot.

In [0]:
print("user_1 shape: {}".format(user_1.shape))
print("user_2 shape: {}".format(user_2.shape))

user_1 dimensions: (10, 5)
user_2 dimensions: (10, 3)

In [0]:
# Azonositó benn foglalás ellenőrzése
user_1['ugyfel_id'].isin(user_2['ugyfel_id']).value_counts()

True     8
False    2
Name: ugyfel_id, dtype: int64

---

## Két forrás tartalmának összekapcsolása 2.

Kapcsolás az `ugyfel_id` kulcs mező szerint történik, de itt korréten megadjuk a kapcsolódo mezők nevét.

---

In [0]:
result = pd.merge(user_1,
                 user_2[['igazolvanytipus_id', 'ugyfel_id']], ## hozzáfűzési mezők // nem szerepel az első a kulcs mező
                 left_on='ugyfel_id', right_on='ugyfel_id',   ## kulcs mezők konkrét megadása a kapcsoláshoz (eltérő nevüek)
                 how='outer',                                 ## Kapcsolat módja left
                 indicator=True                               ## jelző újmezőben megjelenítése                   
                 )
result.head(12)                                               ## első 12 sor megjelenítése (most összesen ennyi van)

,ugyfel_id,vnev,knev,szdatum,nem,igazolvanytipus_id,_merge
0,1,Walter,Gwendolyn,1954-07-10,M,NaN,left_only
1,2,Armstrong,Kieran,1932-02-24,M,NaN,left_only
2,3,Kline,Silas,1938-07-16,M,J,both
3,4,Gallagher,Rhoda,1972-10-28,M,J,both
4,5,Gallagher,Robin,1940-02-02,M,SZ,both
5,6,Frank,Blair,1977-12-19,M,UL,both
6,7,Cash,Vaughan,1989-04-06,M,UL,both
7,8,Shields,Charissa,1926-03-25,F,J,both
8,9,Brown,Inga,1942-04-18,F,SZ,both
9,10,Crawford,Glenna,1969-05-14,F,UL,both
10,11,NaN,NaN,NaN,NaN,SZ,right_only
11,12,NaN,NaN,NaN,NaN,SZ,right_only

---
## Adatszámlálások


---

In [0]:
print("Összesen van {} sorunk, amelyben nem szerepel egy oszlopban sem nulla.".format(
    (result.apply(lambda x: x.isnull().sum(), axis=1) == 0).sum()))
print("Hiányzó adat {} szor fordul elő az 'igazolvanytipus_id' mezőben.".format(
        result['igazolvanytipus_id'].isnull().sum()))

Összesen van 8 sorunk, amelyben nem szerepel egy oszlopban sem nulla.
Hiányzó adat 2 szor fordul elő az 'igazolvanytipus_id' mezőben.

---

## A szűrések

---

In [0]:
user_1[user_1.nem == 'F'] ## Nők megjelenitése csak azok amelyek a nem mezőben F -et tartalmaznak

   ugyfel_id      vnev      knev     szdatum nem
7          8   Shields  Charissa  1926-03-25   F
8          9     Brown      Inga  1942-04-18   F
9         10  Crawford    Glenna  1969-05-14   F

In [0]:
user_1[user_1.vnev.str.startswith('Ga')]  ## Ga vnev kezdettel rendelkezők listázása

   ugyfel_id       vnev   knev     szdatum nem
3          4  Gallagher  Rhoda  1972-10-28   M
4          5  Gallagher  Robin  1940-02-02   M

---

## Statisztikai függvények használata

---

In [0]:
## Hányan vannak a nők és a férfiak és milyen idősek a legfiatalabbak
user_1.groupby("nem").agg({
        "szdatum": "min",  ## mean, max, ..
        "knev": "count"
    })

        szdatum  knev
nem
F    1926-03-25     3
M    1932-02-24     7